<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HEKİM BİLGİLERİNİ GÜNCELLE - ERU PET CARE</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>

<form th:action="@{/newUser}" method="post" th:object="${users}">
    <div class="container text-center">
        <div class="mainHeader" style="margin-top:4%; margin-right:100%;">
            <img src="./images/header.png">
            <img style="height:125px;margin-top:-50px;margin-left:500px" src="./images/header-icon.png">
            <img style="margin-top:-150px;margin-left:850px" src="./images/header-icon2.png">
        </div>
        <div>
            <h1>WELCOME TO ERU PET CARE SYSTEM</h1>
        </div>
        <div>
            <h3>Kullanıcı Güncelle</h3>
        </div>
        <div class="container text-align-center">
            <div class="row">
                <div class="col-md-3">
            <label>Hasta ID</label><input type="text" class="form-control" th:field="*{id}" required readonly="readonly">
                </div>
                <div class="col-md-3">
            <label>Hasta Adı</label><input type="text" class="form-control" th:field="*{firstName}" required>
                </div>
                <div class="col-md-3">
            <label>Hasta Email</label><input type="text" class="form-control" th:field="*{email}" required>
                </div>
                <div class="col-md-3">
            <label>Hasta Soyadı</label><input type="text" class="form-control" th:field="*{lastName}" required>
                </div>
                <div class="col-md-3">
            <label>Telefon Numarası</label><input type="text" class="form-control" th:field="*{phoneNumber}" required>
                </div>
                <div class="col-md-3">
            <label>Bcyrptted Şifre</label><input type="text" class="form-control" th:field="*{password}" required readonly="readonly">
                </div>
            </div>
        </div>
        <button type="submit">Hastayı Güncelle</button>
    </div>
    <div class="footer" style="background-color:#59A9C2; color: #fff; text-align: center;height: 60px;margin-top: 15px;margin-top: 30pc;">
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="#">Hakkımızda</a>
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="#">İletişim</a>
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="https://bm.erciyes.edu.tr/">ERÜ BM</a>
        <p class="footerText" style="margin-left: 15px;font-size: 12px; color: #fff">© Tüm Hakları Saklıdır. 2021 nessWare, Ankara </p>
    </div>
</form>
</body>
</html>