<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kullanıcı Listesi - ERU PET CARE</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
</head>
<body>

<form th:action="@{/newAppointment}" method="post" th:object="${appointment}">
    <div class="container text-center">
        <div class="mainHeader" style="margin-top:4%; margin-right:100%;">
            <img src="./images/header.png">
            <img style="height:125px;margin-top:-50px;margin-left:500px" src="./images/header-icon.png">
            <img style="margin-top:-150px;margin-left:850px" src="./images/header-icon2.png">
        </div>
        <div>
            <h1>WELCOME TO ERU PET CARE SYSTEM</h1>
        </div>
        <p>
            <label th:text="${#request.userPrincipal.principal.fullName}"></label>
        </p>
        <div>
            <h3>Randevu Bilgileri</h3>
        </div>
        <div>
            <label>Pet İsmi</label><input type="text" th:field="*{patientname}">
            <label>Tarih</label><input type="date" th:field="*{appointdate}"><br/>
            <label>Giriş Saati</label><input type="time" th:field="*{appointstarthour}"><br/>
            <label>Çıkış Saati</label><input type="time" th:field="*{appointendhour}"><br/>
            <label>Email</label><input type="email" th:field="*{email}"><br/>
            <label>Pet Cinsi</label><select required th:field="*{pettype}">
            <option value="">Pet cinsi seçiniz</option>
            <option th:value="kedi">Kedi
            </option>
            <option th:value="kopek">Köpek
            </option>
        </select>
            <label>Telefon Numarası</label><input type="text" maxlength="10" th:field="*{phonenumber}">
            <select class="form-control" required th:field="*{doctorname}">
                <option value="">Hekim Seçiniz</option>
                <th:block th:each="doctors : ${listDoctors}">
                    <option th:text="${doctors.vetname}" th:value="${doctors.vetname}"/>
                </th:block>
            </select>

        </div>
        <button type="submit">Randevu Al</button>
    </div>
    <div class="footer" style="background-color:#59A9C2; color: #fff; text-align: center;height: 60px;margin-top: 15px;margin-top: 30pc;">
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="#">Hakkımızda</a>
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="#">İletişim</a>
        <a class="footerLink" style="margin-left: 15px;font-size: 18px; color: #fff" href="https://bm.erciyes.edu.tr/">ERÜ BM</a>
        <p class="footerText" style="margin-left: 15px;font-size: 12px; color: #fff">© Tüm Hakları Saklıdır. 2021 nessWare, Ankara </p>
    </div>
</form>
</body>
</html>